<template name="header">
    <header class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ pathFor 'questionsList'}}">Let Me Know!</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {{#if currentUser}}<li class="{{ activeRouteClass 'askedQuestions' }}"><a href="{{pathFor 'askedQuestions'}}">Asked</a></li>{{/if}}
                {{#if currentUser}}<li class="{{ activeRouteClass 'askQuestion' }}"><a href="{{pathFor 'askQuestion'}}">Ask</a></li>{{/if}}
            </ul>
            <ul class="nav navbar-nav navbar-right">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{#if currentUser}}<li><a href="#" id="add-contact"><span class="glyphicon glyphicon-plus"></span> Add a contact</a></li>{{/if}}
                {{> loginButtons }}
            </ul>
        </div>
    </header>
</template>
