<template name="askQuestion">
  <form class="main">
    <div class="control-group">
        <label class="control-label" for="recipient">Recipient</label>
        <div class="controls">
            <input id="recipient" name="recipient" type="text" placeholder=""/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="question">Your question:</label>
        <div class="controls">
            <input id="question" name="question" type="text" placeholder="Type your question"/>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </div>
  </form>
</template>