<template name="askQuestion">
  <form class="main">
    <div class="control-group">
        <label class="control-label" for="recipient">Recipient</label>
        <div class="controls">
            <input name="recipient" type="text" placeholder=""/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="question">Your question:</label>
        <div class="controls">
            <input name="question" type="text" placeholder="Type your question"/>
        </div>
    </div>

    <!-- <div class="control-group">
        <label class="control-label" for="yourAnswer">Your Answer:</label>
        <div class="controls">
            <textarea name="recipient" type="text" value=""/>
        </div>
    </div> -->

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </div>
  </form>
</template>