<template name="answerSubmit">
    <div class="answer">
        <form name="answer" class="answer-form">
            <div class="control-group">
                <div class="controls">
                    <label for="body">Answer this question</label>
                    <textarea name="body"></textarea>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">Add Answer</button>
                </div>
            </div>
        </form>
    </div>
</template>
