template(name="createCircle")
  form
    fieldset
      .input-group
        label.control-label(for="circle-name") Name
        input.form-control(name="circle-name", type="text", value="", placeholder="Name of the circle")
      .input-group
        input.btn.btn-primary(type="submit", value="Create")
