<template name="header">
    <header class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="{{ pathFor 'questionsList'}}">Microscope</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                  <li><a href="{{pathFor 'askQuestion'}}">New</a></li>
                </ul>
            <ul class="nav pull-right">
                <li>{{loginButtons}}</li>
            </ul>
        </div>
        </div>
      </div>
    </header>
</template>