<template name="header">
    <header class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="{{ pathFor 'questionsList'}}">Let Me Know!</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                  {{#if currentUser}}<li><a href="{{pathFor 'askedQuestions'}}">Asked</a></li> {{/if}}
                  {{#if currentUser}}<li><a href="{{pathFor 'askQuestion'}}">Ask</a></li> {{/if}}
                </ul>
            <ul class="nav pull-right">
                <li>{{loginButtons}}</li>
            </ul>
        </div>
        </div>
      </div>
    </header>
</template>